@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament';
@source '../../../../resources/views/tables/**/*';
@source '../../../../resources/views/filament/**/*';